@model IEnumerable<Association_VVA.Models.RESA>
@{
    Layout = "~/Views/_Layout.cshtml";
}

<h2 style="text-decoration-line:underline; text-align:center">Mes réservations</h2>


<div class="row card-deck">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="card-body">
                    <img class="card-img-top" src="~/photoHeberge/@item.HEBERGEMENT.PHOTOHEB" alt="Card image cap" width="250" height="200">
                    <p><strong>Nom:</strong> @item.HEBERGEMENT.NOMHEB</p>
                    <p><strong>Type:</strong> @item.HEBERGEMENT.TYPE_HEB.NOMTYPEHEB</p>
                    <p><strong>Nombre de place:</strong> @item.HEBERGEMENT.NBPLACEHEB</p>
                    <p><strong>La surface:</strong> @item.HEBERGEMENT.SURFACEHEB</p>
                    <p><strong>L'année de construction:</strong> @item.HEBERGEMENT.ANNEEHEB</p>
                    <p><strong>Le secteur:</strong> @item.HEBERGEMENT.SECTEURHEB</p>
                    <p><strong>L'orientation:</strong> @item.HEBERGEMENT.ORIENTATIONHEB<p>
                    <p><strong>L'état:</strong> @item.HEBERGEMENT.ETATHEB</p>
                    <p><strong>Le tarif:</strong> @item.HEBERGEMENT.TARIFSEMHEB €</p>
                    @if (item.HEBERGEMENT.INTERNET == true)
                    {
                        <p>l'internet est disponible</p>
                    }
                    else
                    {
                        <p>l'internet est non disponible</p>
                    }
                    <hr />
                    <p><strong>La date du réservation:</strong> @DateTime.Parse(item.DATERESA.ToString()).ToShortDateString()</p>
                    <p><strong>Période du location:</strong> @item.SEMAINE.DATEDEBSEM.ToShortDateString() au @DateTime.Parse(item.SEMAINE.DATEFINSEM.ToString()).ToShortDateString()</p>
                    <p><strong>Le montant de la réservation:</strong> @item.TARIFSEMRESA €</p>
                    <p><strong>Le montant d'arrhes:</strong> @item.MONTANTARRHES €</p>
                    <p><strong>L'état du réservation:</strong> @item.ETAT_RESA.NOMETATRESA</p>
                </div>
            </div>
            <br />
        </div>
    }
</div>